/* Android 2.3 :checked fix */
@-webkit-keyframes fake {
  from {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
}
@keyframes fake {
  from {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
}
body {
  -webkit-animation: fake 1s infinite;
          animation: fake 1s infinite;
}

.worko-tabs {
  /* margin: 20px; */
  /* width: 80%; */
}
.worko-tabs .state {
  position: absolute;
  left: -10000px;
}
.worko-tabs .flex-tabs {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  flex-wrap: wrap;
}
.worko-tabs .flex-tabs .tab {
  -webkit-box-flex: 1;
          flex-grow: 1;
  max-height: 40px;
}
.worko-tabs .flex-tabs .panel {
  background-color: #fff;
  padding: 20px;
  min-height: 300px;
  display: none;
  width: 100%;
  flex-basis: auto;
}
.worko-tabs .tab {
  display: inline-block;
  padding: 10px;
  vertical-align: top;
  background-color: #eee;
  cursor: hand;
  cursor: pointer;
  border-left: 10px solid #ccc;
}
.worko-tabs .tab:hover {
  background-color: #fff;
}

#tab-one:checked ~ .tabs #tab-one-label,
#tab-two:checked ~ .tabs #tab-two-label,
#tab-three:checked ~ .tabs #tab-three-label {
  background-color: #fff;
  cursor: default;
  border-left-color: #69be28;
}

#tab-one:checked ~ .tabs #tab-one-panel,
#tab-two:checked ~ .tabs #tab-two-panel,
#tab-three:checked ~ .tabs #tab-three-panel {
  display: block;
}

.item {
  border: solid black 1px;
  border-radius: 10px;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  user-select: none;
}
.item .text {
  width: 100%
}
.item-label {
  font-weight: bolder;
  font-size: 18px;
}
.item-msg {
  font-size: 14px;
}
.item:hover{
  border-color: #363a3a;
  background-color: #fcfee0;
  box-shadow: 1px 2px grey;
}









.profile-list {
  list-style: none inside;
  margin: 0 auto;
  max-width: 32em;
}

.profile-list--item {
  display: inline-block;
  width: 100%;
  background: rgba(0, 0, 0, 0.875);
  padding: 0.75em;
  border: 0.125em solid #00455c;
  margin-bottom: 1.5em;
  text-align: right;
  transition: transform 0.1s linear;
}
.profile-list--item:hover, .profile-list--item:focus {
  transform: scale(1.025);
}

.profile-img {
  height: 4.5em;
  width: 4.5em;
  margin-right: 1.5em;
  float: left;
  display: block;
  border-radius: 50%;
  border: 0.1875em solid #00455c;
}
@media screen and (min-width: 32em) {
  .profile-img {
    width: 6em;
    height: 6em;
  }
}

.profile-name {
  padding-top: 0.5em;
  font-size: 1.5em;
}
@media screen and (min-width: 24em) {
  .profile-name {
    font-size: 1.875em;
  }
}

